<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <app-header></app-header>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="card mb-3 mt-4 card_height">
                        <div class="card p-4">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                    class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Lookup Reserved
                                Terminated Associate Entires</div>
                                <div class="divider row"></div>
                            <form [formGroup]="lookupresForm" (ngSubmit)="onLookupresSubmit()">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label for="emplid" class="">Peoplesoft
                                                Employee ID:</label><input name="emplid" formControlName="emplid"
                                                type="text" class="form-control" autocomplete="off" >
                                        </div>
                                        <div class="position-relative form-group"><label for="employeenumber" class="">Employee
                                                Number (SSN):</label><input name="employeenumber" formControlName="employeenumber" type="text"
                                                class="form-control" autocomplete="off" >
                                        </div>
                                        <!-- <div class="position-relative form-group"><label for="uid" class="">Enterprise
                                                ID:</label><input name="uid" formControlName="uid" type="text"
                                                class="form-control" autocomplete="off" >
                                        </div> -->
                                        <app-search-enterprise-id (isSearchClosed)="onUidClosed($event)" (isSearchCleard)="onUidCleard($event)" [clearForm]="clearUidForm"></app-search-enterprise-id>
                                    </div>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center col-md-6">
                                    <div class="ml-auto">
                                        <button type="button" class="btn btn-warning btn-lg mr-2"
                                            (click)="clearForm()">Clear</button>
                                        <button class="btn btn-primary btn-lg" type="submit"
                                            [disabled]="!lookupresForm.valid">Lookup</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ng-container *ngIf="loadContent">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                        class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i>Search
                                    Results: </div>
                            </div>
                            <div class="card-body">
                                <div id="loopuprestable" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row" *ngIf="users.length > 0">
                                        <div class="col-sm-12">
                                            <table style="width: 100%;"
                                                class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Enterprise ID</th>
                                                        <th>Name</th>
                                                        <th>PeopleSoft Employee ID</th>
                                                        <th>Employee Number</th>
                                                        <th>Termed/Reserve</th>
                                                        <th>Email</th>
                                                        <th>Created</th>
                                                        <th>Created By</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let user of users">
                                                        <td><a [routerLink]="['/ituser/addreserve', user.uid]" placement="right" ngbTooltip="Click to Reserve/Restore">{{ user.uid }}</a></td>
                                                        <td>{{ user.cn }}</td>
                                                        <td>{{ user.emplid }}</td>
                                                        <td>{{ user.employeenumber }}</td>
                                                        <td>{{ user.type }}</td>
                                                        <td>{{ user.mail }}</td>
                                                        <td>{{ user.created }}</td>
                                                        <td>{{ user.creatorsname }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="users.length === 0">
                                        No data to show!!
                                    </div>
                                    <div class="row" *ngIf="users.length > 0 && forceServerSearch">
                                        <div class="col-sm-12 col-md-5">
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous"
                                                        [class.disabled]="pageid === 1">
                                                        <a href="javascript:void(0);" class="page-link"
                                                            (click)="paginateTbl('pre')">Previous</a>
                                                    </li>
                                                    <li class="paginate_button page-item next">
                                                        <a href="javascript:void(0);" class="page-link"
                                                            (click)="paginateTbl('nxt')">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>