<div class="app-container app-theme-white body-tabs-shadow">
    <app-auth-header></app-auth-header>
    <div class="app-container">
        <div class="h-100 bg-heavy-rain bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="modal-dialog w-100 mx-auto">
                        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2">
                                            <div *ngIf="errMsg !== null">
                                                <span class="pr-2">
                                                    <b class="text-danger">{{ errMsg | titlecase }}</b>
                                                </span>
                                            </div>
                                            <span>Please sign in</span>
                                        </h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="enterpriseID"
                                                    id="enterpriseID" placeholder="Enterprise ID" type="text"
                                                    class="form-control" ngModel #enterpriseInput="ngModel" required
                                                    [ngClass]="{ 'is-invalid': enterpriseInput.invalid && (enterpriseInput.dirty || enterpriseInput.touched) }" autocomplete="off">
                                                <em *ngIf="enterpriseInput.invalid && (enterpriseInput.dirty || enterpriseInput.touched)"
                                                    class="error invalid-feedback">
                                                    Enterprise ID is required
                                                </em>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="password"
                                                    id="password" placeholder="Password" type="password"
                                                    class="form-control" ngModel #passwordInput="ngModel" required
                                                    [ngClass]="{ 'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched) }">
                                                <em *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                                                    class="error invalid-feedback">
                                                    <span *ngIf="passwordInput.errors.required">
                                                        Password is required.
                                                    </span>
                                                </em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-right">
                                        <!-- <button class="btn btn-dark btn-lg">Back</button> -->
                                        <button class="btn btn-primary btn-lg"
                                            [disabled]="!loginForm.form.valid || isLoading">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <!-- <div class="loader_page">
                    <div class="loader1"></div>
                </div> -->

<!-- <div class="row">
    <div class="col-md-6">
        <div class="card wrapper">vdvd
            <div class="loader_com">
              <div class="loader_global"></div>
          </div>  
          </div>
    </div>
</div> -->
                




                                      

                    <div class="text-center text-dark mt-3">Copyright © Sears Holdings</div>
                </div>
            </div>
        </div>
    </div>
</div>