<div class="app-container app-theme-white body-tabs-shadow">
    <app-auth-header></app-auth-header>
    <div class="app-container">
        <div class="h-100 bg-mean-fruit bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <div>The Administrative Services are available to authorized administrators only
                                        </div>
                                        <span>Please sign in</span>
                                    </h4>
                                </div>
                                <form class="">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="email"
                                                    id="exampleEmail" placeholder="Enterprise ID" type="email"
                                                    class="form-control"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="password"
                                                    id="examplePassword" placeholder="Password" type="password"
                                                    class="form-control"></div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer clearfix">
                                <div class="float-right">
                                    <button class="btn btn-dark btn-lg">Back</button>
                                    <button class="btn btn-primary btn-lg">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © Sears Holdings</div>
                </div>
            </div>
        </div>
    </div>
</div>