<div class="modal-header">
    <h4 class="modal-title">Group Users</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Enterprise ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Manager</th>
                <th>Department</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.uid }}</td>
                <td>{{ user.cn }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.manager }}</td>
                <td>{{ user.shcdepartmentnumber }}</td>
                <td>{{ user.status }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div> -->