<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <app-header></app-header>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="card mb-3 mt-4">
                        <div class="card p-4">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                    class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Enterprise
                                Directory Person Lookup</div>
                                <div class="divider row"></div>
                            <form [formGroup]="lookupForm" (ngSubmit)="onLookupSubmit()">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label for="uid" class=""><em
                                                    class="text-danger">*</em> Enterprise ID:</label><input name="uid"
                                                formControlName="uid" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="givenname" class=""><em
                                                    class="text-danger">*</em> First Name:</label><input
                                                name="givenname" formControlName="givenname" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="sn" class=""><em
                                                    class="text-danger">*</em> Last Name:</label><input name="sn"
                                                formControlName="sn" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="mail" class=""><em
                                                    class="text-danger">*</em> Email Address:</label><input name="mail"
                                                formControlName="mail" type="email" class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="createtimestamp"
                                                class=""><em class="text-danger">*</em> Created:</label><input
                                                name="createtimestamp" formControlName="createtimestamp" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="emplid" class=""> Employee
                                                ID:</label><input name="emplid" formControlName="emplid" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="ssn" class=""><em
                                                    class="text-danger">*</em> Employee Number:</label><input name="ssn"
                                                formControlName="ssn" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="altuid" class=""><em
                                                    class="text-danger">*</em> Alternate ID:</label><input name="altuid"
                                                formControlName="altuid" type="text" class="form-control">
                                        </div>
                                        <!-- <div class="position-relative form-group"><label for="examplePassword" class=""><em
                                                        class="text-danger">*</em> Entry ID:</label><input name="password"
                                                     type="password" class="form-control"></div> -->
                                        <div class="position-relative form-group"><label for="procid" class=""><em
                                                    class="text-danger">*</em> Procurement ID:</label><input
                                                name="procid" formControlName="procid" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group"><label for="o" class=""><em
                                                    class="text-danger">*</em> Company:</label><input name="o"
                                                formControlName="o" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-12 text-dark mb-2"><em class="text-danger">*</em> indicates
                                            wildcards (*) are supported</div>
                                    </div>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center col-md-6">
                                    <div class="ml-auto">
                                        <button type="button" class="btn btn-warning btn-lg mr-2"
                                            (click)="clearForm()">Clear</button>
                                        <button class="btn btn-primary btn-lg" type="submit"
                                            [disabled]="!lookupForm.valid">Lookup</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ng-container *ngIf="loadContent">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                        class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i>Search
                                    Results: </div>
                            </div>
                            <div class="card-body">
                                <div id="loopuptable" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                        </div>
                                        <div class="dataTables_filter">
                                            <label>Search:<select class="form-control form-control-sm"
                                                    (change)="searchSelect($event.target.value)">
                                                    <option value="">Select Column</option>
                                                    <option value="uid">Enterprise ID</option>
                                                    <option value="cn">Full Name</option>
                                                    <option value="type">Type</option>
                                                    <option value="emplid">Employee ID</option>
                                                    <option value="o">Organisation</option>
                                                    <option value="title">Title</option>
                                                    <option value="mail">Mail Address</option>
                                                    <option value="telephonenumber">Telephone Number</option>
                                                    <option value="manager">Manager</option>
                                                    <option value="searsorgjobcode">Job Code</option>
                                                    <option value="departmentnumber">Legacy Department Number</option>
                                                    <option value="shcdepartmentnumber">SHC Department Number</option>
                                                    <option value="l">Legacy Location</option>
                                                    <option value="shclocnumber">SHC Location</option>
                                                </select></label><input type="search"
                                                class="form-control form-control-sm" placeholder="Type here"
                                                name="txtSearchTbl" #txtSearchTbl [disabled]="searchTxtDisabled"
                                                (keyup)="searchTxtkey($event.target.value)" /><button
                                                class="btn btn-primary btn-lg" [disabled]="searchBtnDisabled"
                                                (click)="searchTblBtn(txtSearchTbl.value)">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="users.length > 0">
                                        <div class="col-sm-12">
                                            <table style="width: 100%;"
                                                class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Enterprise ID</th>
                                                        <th>Full Name</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Employee ID</th>
                                                        <th>Organisation</th>
                                                        <th>Title</th>
                                                        <th>Mail Address</th>
                                                        <th>Telephone Number</th>
                                                        <th>Manager</th>
                                                        <th>Job Code</th>
                                                        <th>Legacy Department Number</th>
                                                        <th>SHC Department Number</th>
                                                        <th>Legacy Location</th>
                                                        <th>SHC Location</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let user of users">
                                                        <td>{{ user.uid }}</td>
                                                        <td>{{ user.cn }}</td>
                                                        <td *ngIf="user.type === 'Contractor'; else elseBlock" >
                                                            <a [routerLink]="['/ituser/addcontractor', user.uid]" placement="right" ngbTooltip="Click to Edit">{{ user.type }}</a>
                                                        </td>
                                                        <ng-template #elseBlock><td>{{ user.type }}</td></ng-template>
                                                        <td>{{ user.status }}</td>
                                                        <td>{{ user.emplid }}</td>
                                                        <td>{{ user.o }}</td>
                                                        <td>{{ user.title }}</td>
                                                        <td>{{ user.mail }}</td>
                                                        <td>{{ user.telephonenumber }}</td>
                                                        <td>{{ user.manager }}</td>
                                                        <td>{{ user.searsorgjobcode }}</td>
                                                        <td>{{ user.departmentnumber }}</td>
                                                        <td>{{ user.shcdepartmentnumber }}</td>
                                                        <td>{{ user.l }}</td>
                                                        <td>{{ user.shclocnumber }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="users.length === 0">
                                        No data to show!!
                                    </div>
                                    <div class="row" *ngIf="users.length > 0 && forceServerSearch">
                                        <div class="col-sm-12 col-md-5">
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous"
                                                        [class.disabled]="pageid === 1">
                                                        <a href="javascript:void(0);" class="page-link"
                                                            (click)="paginateTbl('pre')">Previous</a>
                                                    </li>
                                                    <li class="paginate_button page-item next">
                                                        <a href="javascript:void(0);" class="page-link"
                                                            (click)="paginateTbl('nxt')">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>