<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
   <app-header></app-header>
   <div class="app-main">
      <app-sidebar></app-sidebar>
      <div class="app-main__outer">
         <div class="app-main__inner">
            <div class="app-page-title">
               <div class="card mb-3 mt-4">
                  <div class="card p-4">
                     <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                           class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Group Editor</div>
                     <div class="divider row"></div>
                     <div class="form-row">
                        <div class="col-md-6">
                           <app-search-enterprise-id isRequired="true" (isSearchClosed)="onSearchClosed($event)"
                              (isSearchCleard)="onSearchCleard($event)"></app-search-enterprise-id>
                        </div>
                     </div>
                     <div class="row" *ngIf="showUserResMsg">
                        <div class="col-md-12">
                           <div class="alert fade show" [ngClass]="userResType"><span [innerHTML]="userResMsg"></span>
                           </div>
                           <!-- <div *ngIf="showModifyResMsg" class="alert fade show" [ngClass]="modifyResType">{{ modifyResMsg }}</div> -->
                        </div>
                     </div>
                     <div class="row" *ngIf="loadContent">
                        <div class="subject-info-box-1 col-md-4">
                           <div class="">
                              <input type="text" name="search_group" class="form-control" placeholder="Type To Filter"
                                 [(ngModel)]="searchAllGroups">
                           </div>
                           <!-- <select multiple="multiple" class="form-control select_custom" style="height:300px;">
                                          <option *ngFor="let group of allGroups |  grdColumnFilter: { name: searchAllGroups } | keyvalue"
                                             value="{{ group.value.name }}" (click)="toggleSelection(group.value)"
                                             [class.item-selected]="group.selected">{{ group.value.name }}
                                          </option>
                                       </select> -->
                           <ul class="form-control" style="height:300px; overflow: auto; cursor: pointer;">
                              <li *ngFor="let group of allGroups |  grdColumnFilter: { name: searchAllGroups } | keyvalue"
                                 (click)="toggleSelection(group.value, 'a')"
                                 [class.item-selected]="group.value.selected">{{
                                 group.value.name
                                 }}</li>
                           </ul>
                        </div>
                        <div class="subject-info-arrows text-center col-md-4">
                           <div class="btn_wrap">
                              <input type="button" value="Assign >>" class="btn btn-dark" (click)="moveSelected('add')"
                                 [disabled]="addBtnDisabled"><br>
                              <input type="button" value="<< Remove" class="btn btn-dark" (click)="moveSelected('del')"
                                 [disabled]="delBtnDisabled"><br>
                           </div>
                        </div>
                        <div class="subject-info-box-2 col-md-4 mt-5">
                           <!-- <select multiple="multiple" class="form-control select_custom" style="height:300px;">
                                          <option *ngFor="let group of userGroups | keyvalue" value="{{ group.value.name }}"
                                             [disabled]="group.value.disabled" (click)="toggleSelection(group.value)"
                                             [class.item-selected]="group.selected">{{ group.value.name
                                             }}</option>
                                       </select> -->
                           <ul class="form-control" style="height:300px; overflow: auto; cursor: pointer;">
                              <li *ngFor="let group of userGroups | keyvalue"
                                 (click)="toggleSelection(group.value, 'd')"
                                 [class.item-selected]="group.value.selected"
                                 [class.item-disabled]="group.value.disabled">{{
                                 group.value.name
                                 }}</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>