<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <app-header></app-header>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="card mb-3 mt-4">
                        <div class="card p-4">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                                    class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Synchronize
                                email address for an enterprise LDAP ID</div>
                            <div class="divider row"></div>
                            <form class="p-4" [formGroup]="syncForm" (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="col-md-12 text-danger mb-2">This page will synch the primary email
                                        address from Exchange to LDAP for a specified enterprise ID. After the synch
                                        completes the newly assigned email address will appear in the SHC Email Address
                                        field
                                    </div>
                                    <div class="col-md-6">
                                        <app-search-enterprise-id (isUidSelected)="uidValid($event)" (isSearchClosed)="onUidClosed($event)" (isSearchCleard)="onUidCleard($event)" isRequired="true"></app-search-enterprise-id>
                                        <div class="position-relative form-group"><label for="mailfromdomain"
                                                class="">SHC Email
                                                Address field</label>
                                            <input formControlName="mailfromdomain" id="mailfromdomain" type="text"
                                                class="form-control" [readOnly]="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center col-md-6">
                                    <div class="ml-auto">
                                        <button class="btn btn-primary btn-lg mr-2" type="submit"
                                            [disabled]="!syncForm.valid">Synch</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>