<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <app-header></app-header>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="card mb-3 mt-4">
                        <div class="card p-4">
                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6">
                                </i>Add Non Associate Account
                            </div>
                            <div class="divider row"></div>
                            <form class="p-4" [formGroup]="contractorForm" (ngSubmit)="onAccountSubmit()">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="givenname" class="">First Name<em
                                                    class="text-danger">*</em></label><input formControlName="givenname"
                                                id="givenname" type="text" class="form-control" (blur)="generateUid()"
                                                required [ngClass]="{
                          'is-invalid':
                            c.givenname.invalid &&
                            (c.givenname.dirty || c.givenname.touched)
                        }" />
                                            <em *ngIf="
                          c.givenname.invalid &&
                          (c.givenname.dirty || c.givenname.touched)
                        " class="error invalid-feedback">
                                                First Name field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="sn" class="">Last Name<em
                                                    class="text-danger">*</em></label><input formControlName="sn"
                                                (blur)="generateUid()" id="sn" type="text" class="form-control" required
                                                [ngClass]="{
                          'is-invalid':
                            c.sn.invalid && (c.sn.dirty || c.sn.touched)
                        }" />
                                            <em *ngIf="c.sn.invalid && (c.sn.dirty || c.sn.touched)"
                                                class="error invalid-feedback">
                                                Last Name field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="uid" class="">Enterprise ID<em
                                                    class="text-danger">*</em></label><input formControlName="uid"
                                                id="uid" type="text" class="form-control" required
                                                [readOnly]="uidReadOnly" [ngClass]="{
                          'is-invalid':
                            c.uid.invalid && (c.uid.dirty || c.uid.touched)
                        }" />
                                            <em *ngIf="c.uid.invalid && (c.uid.dirty || c.uid.touched)"
                                                class="error invalid-feedback">
                                                Enterprise ID field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="o" class="">Organization/Company<em
                                                    class="text-danger">*</em></label>
                                            <ng-select [items]="orgs" placeholder="Type atleast 3 chars to search" formControlName="o"
                                                (search)="getOrgs($event)" >
                                            </ng-select>
                                            <em *ngIf="c.o.invalid && (c.o.dirty || c.o.touched)"
                                                class="error invalid-feedback">
                                                Organization/Company field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group row col-md-12">
                                            <label for="exampleEmail" class="wrapper">Account Flags</label>
                                            <div class="position-relative form-check col-md-6">
                                                <input formControlName="generic" id="generic" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'generic')" />
                                                <label for="generic" class="form-check-label">Generic ID for</label>
                                                <div style="width: 70%; float: right; margin-top: -6px">
                                                    <ng-select [items]="gentype" bindLabel="name" bindValue="id"
                                                        formControlName="gentype" placeholder="Select item">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="position-relative form-check col-md-6">
                                                <input formControlName="vendor" id="vendor" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'vendor')" />
                                                <label for="vendor" class="form-check-label">Vendor
                                                    Account</label>
                                            </div>
                                            <div class="position-relative form-check col-md-6">
                                                <input formControlName="nonexpiry" id="nonexpiry" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'nonexpiry')" />
                                                <label for="nonexpiry" class="form-check-label">Non-Expiring
                                                    Password</label>
                                            </div>
                                            <div class="position-relative form-check col-md-6">
                                                <input formControlName="testing" id="testing" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'testing')" />
                                                <label for="testing" class="form-check-label">Testing Account</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group row col-md-12">
                                            <label for="Approvals" class="wrapper">Approvals</label>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="procurement" id="procurement" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'procurement')" />
                                                <label for="procurement" class="form-check-label">Procurement</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="kmart" id="kmart" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'kmart')" />
                                                <label for="kmart" class="form-check-label">Kmart Domain</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="sears2" id="sears2" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'sears2')" />
                                                <label for="sears2" class="form-check-label">Sears2 Domain</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="vpn" id="vpn" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'vpn')" />
                                                <label for="vpn" class="form-check-label">VPN Access</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="k1" id="k1" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'k1')" />
                                                <label for="k1" class="form-check-label">K1 Office 365</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="e1" id="e1" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'e1')" />
                                                <label for="e1" class="form-check-label">E1 Office 365</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="e3" id="e3" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'e3')" />
                                                <label for="e3" class="form-check-label">E3 Office 365</label>
                                            </div>
                                            <div class="position-relative form-check col-md-3 mb-2">
                                                <input formControlName="e5" id="e5" type="checkbox"
                                                    class="form-check-input"
                                                    (change)="handleControl($event.target.checked, 'e5')" />
                                                <label for="e5" class="form-check-label">E5 Office 365</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="dept" class="">Department<em
                                                    class="text-danger">*</em></label><input formControlName="dept"
                                                id="dept" type="text" class="form-control" required [ngClass]="{
                          'is-invalid':
                            c.dept.invalid &&
                            (c.dept.dirty || c.dept.touched)
                        }" />
                                            <em *ngIf="
                          c.dept.invalid &&
                          (c.dept.dirty || c.dept.touched)
                        " class="error invalid-feedback">
                                                Department field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="ssn" class="">SSN/PW Reset Challenge Word<em
                                                    class="text-danger">*</em></label><input formControlName="ssn"
                                                id="ssn" type="text" class="form-control" required [ngClass]="{
                          'is-invalid':
                            c.ssn.invalid &&
                            (c.ssn.dirty || c.ssn.touched)
                        }" />
                                            <em *ngIf="
                          c.ssn.invalid &&
                          (c.ssn.dirty || c.ssn.touched)
                        " class="error invalid-feedback">
                                                SSN/PW Reset Challenge Word field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="title" class="">Title<em
                                                    class="text-danger">*</em></label><input formControlName="title"
                                                id="title" type="text" class="form-control" required [ngClass]="{
                          'is-invalid':
                            c.title.invalid &&
                            (c.title.dirty || c.title.touched)
                        }" />
                                            <em *ngIf="
                          c.title.invalid && (c.title.dirty || c.title.touched)
                        " class="error invalid-feedback">
                                                Title field is required
                                            </em>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="emplid" class="">PeopleSoft Employee ID</label><input
                                                formControlName="emplid" id="emplid" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="procid" class="">Procurement ID</label><input
                                                formControlName="procid" id="procid" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="expire" class="">Contract Expiration Date</label>
                                            <input type="text" class="form-control" placeholder="YYYYMMDD"
                                                formControlName="expire" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="manager" class="">Manager Enterprise ID</label><input
                                                formControlName="manager" id="manager" type="text"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="room" class="">Office Location <em> eg.
                                                    B2-237A</em></label><input formControlName="room" id="room"
                                                type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="shcloc" class="">Business Unit</label>
                                            <ng-select [items]="businessUnits" bindLabel="name" bindValue="id"
                                                formControlName="shcloc" placeholder="Select item"></ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="buscat" class="">Business Category</label>
                                            <ng-select [items]="businessCats" bindLabel="name" bindValue="id"
                                                formControlName="buscat" placeholder="Select item"></ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-danger mb-2">
                                        * Please Enter Account Information above.<br />Fileds marked
                                        with an asterisk indicate required fields.
                                    </div>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto">
                                        <button class="btn btn-primary btn-lg" type="submit"
                                            [disabled]="!contractorForm.valid">
                                            Add Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>