<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
    <div class="app-header__content wrapper">
        <div class="app-header-right">
            <div class="f-right">
                <ul class="header-megamenu nav app-header-right">
                    <li class="nav-item">
                        <a href="#" data-placement="bottom" rel="popover-focus" data-offset="300"
                            data-toggle="popover-custom" class="nav-link">
                            Admin Services
                        </a>
                        <a href="#" data-placement="bottom" rel="popover-focus" data-offset="300"
                            data-toggle="popover-custom" class="nav-link">
                            Enterprise ID Loopup
                        </a>
                        <a href="#" data-placement="bottom" rel="popover-focus" data-offset="300"
                            data-toggle="popover-custom" class="nav-link">
                            Reset Password
                        </a>
                        <a href="#" data-placement="bottom" rel="popover-focus" data-offset="300"
                            data-toggle="popover-custom" class="nav-link">
                            Change Password
                        </a>
                        <a href="#" data-placement="bottom" rel="popover-focus" data-offset="300"
                            data-toggle="popover-custom" class="nav-link">
                            Register Passphrase
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>