<div class="subject-info-box-1 col-md-4">

    <div class="head_tx">
       <label>Filter</label>
          <input type="text" name="" class="form-control" placeholder="Type To Filter">
              </div>

<select multiple="multiple" id="lstBox1" class="form-control select_custom" style="height:300px;">
<option value="ajax">Role Name 1</option>
<option value="ajax">Role Name 2</option>
<option value="ajax">Role Name 3</option>
<option value="ajax">Role Name 4</option>
<option value="ajax">Role Name 5</option>
<option value="ajax">Role Name 6</option>
<option value="ajax">Role Name 7</option>
<option value="ajax">Role Name 8</option>
<option value="ajax">Role Name 9</option>
<option value="ajax">Role Name 10</option>
<option value="ajax">Role Name 11</option>
<option value="ajax">Role Name 12</option>
<option value="ajax">Role Name 13</option>
<option value="ajax">Role Name 14</option>
<option value="ajax">Role Name 15</option>
</select>
</div>

<div class="subject-info-arrows text-center col-md-4">
	<div class="btn_wrap">
  <input type="button" id="btnRight" value="Assign >>" class="btn btn-dark"><br>
  <input type="button" id="btnLeft" value="<< Remove" class="btn btn-dark"><br>
  <input type="button" id="btnLeft" value="Reset" class="btn btn-warning reset_btn"> 
</div>
</div>

<div class="subject-info-box-2 col-md-4 mt-5">
  

    <select multiple="multiple" id="lstBox2" class="form-control select_custom mt-3" style="height:300px;">
      <option value="ajax">Role Name 12</option>
      <option value="ajax">Role Name 13</option>
      <option value="ajax">Role Name 14</option>
      <option value="ajax">Role Name 15</option>
  
    </select>
  </div>